@model FluentDisplayProperties.Demo.ViewModels.ExampleViewModel

@*<div>Full name: @Html.LabelFor(x => x.FullName)</div>*@
<div>Surname: @Html.LabelFor(x => x.Surname)</div>
<div>@Html.LabelFor(x => x.Address1)</div>
<div>@Html.LabelFor(x => x.Address2)</div>
<div>@Html.LabelFor(x => x.Address2)</div>
<div>@Html.LabelFor(x => x.AddressLine3)</div>
<div>Town/City: @Html.LabelFor(x => x.TownCity)</div>
<div>@Html.LabelFor(x => x.MySSID)</div>